
@{
    ViewData["Title"] = "Marco's Awesome Site";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Website!</h1>
    <p>The best place to go for all your content!!!</p>
</div>

<div class="d-md-flex h-md-100 align-items-center">
    <div class="col-md-6 p-0 h-md-100">
        <!-- <div class="text-white d-md-flex align-items-center h-100 p-5 text-center justify-content-center"> -->
            <!-- <div class="logoarea pt-5 pb-5"> -->
                <partial name="RegisterPartial" />
            <!-- </div> -->
        <!-- </div> -->
    </div>

    <div class="col-md-6 p-0  h-md-100">
        <!-- <div class="d-md-flex align-items-center h-md-100 p-5 justify-content-center"> -->
            <partial name="LoginPartial" />
        <!-- </div> -->
    </div>
</div>

